@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Dancing+Script&display=swap');

body {
    color: black;

    /* color: rgba(0,0,0,0.4); */
}

* {
    font-family: 'Caramel', cursive;
}

.btn {
    width: 200px;
    height: 50px;
    align-items: center;
    background-color: #433039;
    font-size: 28px;
    border-radius: 3rem;
    margin-left: 140px;
    color: aliceblue;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.container {
    height: 350px;
    width: 500px;
    background: linear-gradient(to bottom, #1b111b 0%, #433039 100%);
    border-radius: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,rgba(0,0,0,0.12) 0px -12px 30px, rgba(red, green, blue, alpha); */
    padding: 40px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.para {
    font-family: 'Dancing script', cursive;
    padding: 20px;
    color: aliceblue;
}